<acl>
    <page-system-beepselector>
        <name>System: Beep Selector</name>
        <description>Allow access to the Beep Selector module</description>
        <patterns>
            <pattern>ui/beepselector/*</pattern>
            <pattern>api/beepselector/*</pattern>
        </patterns>
    </page-system-beepselector>
</acl>
